---
layout: default
title: Les Hybrides Patibulaires
nav-title: "Les&nbsp;Hybrides Patibulaires"
menu: main
weight : 30
---

<h2>Les Hybrides Patibulaires</h2>

<div class="row">
{% for cat in site.data.categories %}
    <div class="col-xs-12">
        <h3 class="clearfix">{{ cat.name }}</h3>
    </div>
        {% assign maxObjectsInRow = 2 %}{% assign objectsInRow = 0 %}
{% assign sorted = site.pages | sort:"name" %}
{% for p in sorted %}
    {% if p.category == cat.slug and p.show == 'oui' %}
        {% if objectsInRow == 0 %}
    <div class="row itemRow">{% endif %}
            {% assign objectsInRow = objectsInRow | plus: 1 %}{% assign pageUrl = site.baseurl | append : p.url %}{% assign pageImg = site.baseurl | append : '/img/' | append : p.category | append : '/thumbs/' | append : p.slug | append: '.jpg' %}
        <div class="col-xs-12 col-sm-6 col-md-6">
            <figure class="row">
                <a href="{{ pageUrl }}" class="imgLink col-xs-12 col-sm-6 col-md-6">
                    <img src="{{ pageImg }}" alt="{{p.title}}" class="img-responsive">
                </a>
                <figcaption class="col-xs-12 col-sm-6 col-md-6">
                    <h4><a href="{{ pageUrl }}">{{ p.title }}</a></h4>
                    <p>{{ p.legende }}</p>
                    <a href="{{ pageUrl }}" class="moreLink"><small>(voir fiche)</small></a>
                </figcaption>
            </figure>
        </div>
        {% if objectsInRow == maxObjectsInRow or forloop.last == true %}{% assign objectsInRow = 0 %}
    </div>{% endif %}{% endif %}{% endfor %}{% endfor %}
</div>
