<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-legend-wrapper">
            <div class="rg-legend"><p></p></div>
        </div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption">
                <div class="rg-caption-close"><small><a href="#">masquer</a></small></div>
                <p></p>
            </div>
        </div>
    </div>
</script>
