<div class="row">
    <div class="col-md-9 horaires col-md-offset-1">
        <h4>Jours et heures d'ouverture de la maison des Hybrides :</h4>
        <p>Le Cube est ouvert sur rendez vous, et certains week-ends en fonction des événements (<a href="{{ site.baseurl }}/actualites/">suivre l'actualité</a>)</p>
        <p>Il est aussi possible de louer l'espace pour vos fêtes, réunions...<br> Pour les réservations et renseignements, vous pouvez nous contacter ici : <a href="/contact">Contact</a></p>
        <p><strong>ATTENTION</strong> : Des imprévus (expositions notamment) peuvent nous obliger à fermer le Cube ponctuellement. N'hésitez pas à téléphoner avant de venir. Merci de votre compréhension.</p>
        <p>Les activités de la Maison des Hybrides est également consultable sur <a href="http://www.facebook.com/#!/profile.php?id=100003120499916&amp;sk=wall">Facebook (Mirel-Cizek Rogue)</a>.</p>
        <p>Monument historique, art, univers étrange, boisson, jeux de stratégie, et entrée libre - chacun contribue à la hauteur de ses moyens et de ses envies ! « Cochon » vous attend à la sortie.</p>
    </div>
</div>
