<div class="row">
    <div class="col-md-9 horaires col-md-offset-1">
        <h4>Jours et heures d'ouverture de la maison des Hybrides :</h4>
       
<p>Le Cube est ouvert les mercredi, samedi et dimanche de 15h à 19h.  Les visites sont également possibles en semaine et le week-end sur rendez-vous :</p> 

<p>Pour les réservations et renseignements, merci de téléphoner au 06 63 64 36 87 
ou d’écrire à mirel-cizek@cube.fr .</p>

<p> <br><strong>ATTENTION</strong> : Des imprévus (expositions notamment) peuvent nous obliger à fermer le Cube ponctuellement. 
						  N'hésitez pas à téléphoner avant de venir. Merci de votre compréhension.</p>

<p> Le Cube sera probablement fermé du 9 au 11 octobre. </p>
<p> Les jours d'ouverture sont également consultables sur <a href="http://www.facebook.com/#!/profile.php?id=100003120499916&amp;sk=wall">Facebook (Mirel-Cizek Rogue)</a>.

        <p>Monument historique, art, univers étrange, boisson, jeux de stratégie, et entrée libre - chacun contribue à la hauteur de ses moyens et de ses envies ! « Cochon » vous attend à la sortie.</p>
    </div>
</div>
