<div class="row">
    <div class="col-md-12 horaires">
        <h4>Jours et heures d'ouverture de la maison des Hybrides :</h4>
        <p>Les jours d'ouverture seront donnés d'une semaine sur l'autre à l'affichage,
        sur <a href="http://www.facebook.com/#!/profile.php?id=100003120499916&amp;sk=wall">Facebook (Mirel-Cizek Rogue)</a>, et sur ce site.

        <p>Le printemps et l'été étant consacrés aux expositions en extérieur, le Cube sera fermé certains week-ends de juin et juillet.</p>
        <p>Les visites restent possibles en semaine, uniquement sur rendez vous pris un petit peu à l'avance.</p>

        <p>Pour les renseignements, merci de téléphoner au 06 63 64 36 87 ou d'écrire à mirel-cizek@cube.fr. <br><strong>ATTENTION</strong> : Des imprévus peuvent m’obliger à fermer le Cube ponctuellement. Merci de votre compréhension.</p>
        <p>Monument historique, art, univers étrange, boisson, jeux de stratégie, et entrée libre - chacun contribue à la hauteur de ses moyens et de ses envies ! « Cochon » vous attend à la sortie.</p>
    </div>
</div>
