<header class="site-header" id="top">
  <div class="container">
    <a title="Mirel&amp;Cizek - Rogue Taxidermy" accesskey="1" href="{{ site.baseurl }}/" class="logoLink">
        <img id="logo" src="{{ site.baseurl }}/img/logo-mirel-et-cizek.gif" alt="Accueil - Mirel&amp;Cizek - Rogue Taxidermy" height="145" width="400" class="img-responsive">
    </a>
    <div class="langButtons">
        <a href="/mirel-et-cizek.html#english" class="btn btn-default btn-xs">English</a>
        <a href="/mirel-et-cizek.html#deutsch" class="btn btn-default btn-xs">Deutsch</a>
    </div>
  </div>
{% include navbar.html menuClass="homeMenu" %}
</header>
