---
permalink: css/style.css
---

@import "bootstrap";
@import "custom-rg-gallery";

body{
    background: #000 url(../../img/fond-page.gif) repeat top left;
}

.site-header{
    margin: 10px 0;
    text-align: center;
    background: $body-bg;
}

.site-header a{
    margin: 10px auto;
    text-align: center;
}

.site-header img{
    margin: 0 auto;
}

.navbar {
    margin-bottom: 10px;
}

.navbar.center .navbar-collapse {
    text-align: center;
}
.navbar.center .navbar-collapse .nav {
    float: none;
    display:inline-block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus
{
    background: $body-bg;

    @media (min-width: $grid-float-breakpoint) {
        border-bottom: 1px solid $link-hover-color;
    }
}

.navbar-toggle {
  margin-right: 0;
}

.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 5px;
    @media (min-width: $grid-float-breakpoint) {
        border-bottom: 1px solid $body-bg;
    }
}

.logoLink{
    @media (max-width: $screen-xs-min) {
        display: block;
        width: 49%;
        float: left;
    }
}

.langButtons{
    position: absolute;
    top: 0;
    right: 5px;
}

.content a,
footer a{
    border-bottom: 1px solid $text-color;
}

.content a:hover,
footer a:hover{
    border-bottom: 1px doted $text-color;
    text-decoration: none;
}

.content h2{
    margin: 5px 0 20px;
}

.content .row{
    margin-bottom: 20px;

    @media (min-width: $grid-float-breakpoint) {
        margin-bottom: 40px;
    }
}

.content hr{
    margin: 2px 0;
    border: none;
    border-top: 1px solid $gray-darker;
}

.hybrides h3{
    border-bottom: 1px solid $brand-warning-dark;
    padding: 5px 0;
    margin: 2px 0;
}

a.externalLink{
    background: #000 url(../../img/ExternalLinkIcon.gif) no-repeat top right;
    padding-right: 19px;
}

a.externalLink.noIcon{
    background-image: none;
    padding: 0;
}

.horaires{
    margin-top: 20px;
    background: $gray-darker;
    border: 3px solid $gray;
    padding: 20px 20px 0 20px;
}



h1{
    color: $gray;
}

blockquote{
    background: #111;
}
blockquote p{
    font-style: italic;
}

blockquote footer, blockquote small, blockquote .small {
    color: $gray-dark;
}

figure{
    text-align: left;

    @media (max-width: $screen-md) {
        border: 1px solid $brand-warning-dark;
        background: #222;
        margin-bottom: 10px;
    }
}

figure > a{
    text-align: center;
}

figure > a img{
    margin: 0 auto;
}

figure a.imgLink{
    border: none;
    text-decoration: none;
}

figure h3{
    margin: 3px 0;
}
.img-thumbnail {
  border-radius: 0;
}

.homeText{
    @media (min-width: $grid-float-breakpoint) {
        padding: 10px;

    }
}

.homeSidebar img {
    margin-bottom: 10px;
}

.subnavLinks{
    display: block;
    width: 100%;
}

.subnavLinks a{
    text-decoration: none;
}

.subnavLinks h5{
    display: inline-block;
    margin: 0;
    float: right;
}

.moreLink{
    float: right;
}


footer.footer{
    font-size: 12px;
    margin-top: 20px;
}

footer a{
    color: $gray-light;
    border: none;
}

.events hr{
    margin-bottom: 2px;
}


.eventDescription{
    margin-top: 20px;
    font-weight: bold;
}

.commentList div{
    margin-bottom: 10px;
}

.externalLink{
    background: inherit url(../img/external_link_icon_white.gif) no-repeat top right;
    padding-right: 19px;
}

.externalLink.btn-sm, .noIcon .externalLink.btn-sm{
  padding: 5px 10px;
}

.noIcon a.externalLink{
    background-image: none;
    padding: 0;
}


table{
  @extend .table;
}

.alert.alert-success a{
    color: $state-success-text;
    border-bottom: 1px solid $state-success-text;

    :hover{
        color: $state-success-border;
    }
}
