---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <h4><small><a href="{{ site.baseurl }}/les-hybrides-en-peinture.html">Les Hybrides en peinture</a></small> &gt; - {{ page.title }} - {{ page.comment }}</h4>
  </div>
  <div class="col-md-12">
    <div class="subnavLinks clearfix">

{% if page.previous %}{% assign previous = page.previous %}{% else %}{% assign previous = site.peintures | last %}{% endif %}
{% if page.next %}{% assign next = page.next %}{% else %}{% assign next = site.peintures | first %}{% endif %}
      <h5>
        <a href="{{ site.baseurl }}{{ previous.url }}" class="btn btn-default btn-xs">&lt; {{ previous.title }}</a>&nbsp;
        <a href="{{ site.baseurl }}{{ next.url }}" class="btn btn-default btn-xs">{{ next.title }} &gt;</a>
      </h5>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {% if page.dimensions %}<p>Dimension : {{ page.dimensions }}</p>{% endif %}
        {% if page.prix %}<p>Prix : {{ page.prix }}</p>{% endif %}
    </div>
    <div class="col-sm-8">
      {% assign prefix = page.collection | append: "/" %}

<!-- page.id = {{ page.id }} -->

      {% assign baseName = page.id | split: prefix | last %}
      {% assign thumbUrl = site.baseurl | append : '/img/peintures/' | append : baseName | append: '-800.jpg' %}
      <img src="{{ thumbUrl }}" alt="page.title" class="img-responsive">
    </div>
</div>
